@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

h2 {
  color: #dfe7f5;
}

h1 {
  font-weight: 500;
  background: linear-gradient(to right, #4a90e2, #3f72af);
  background-clip: text;
  color: transparent;
  padding: 0.5rem;
  transition: transform 0.3s ease;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  width: max-content;
}

a,
.btn {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4a5568;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
.btn:hover {
  color: #1f5dd1;
}

.active-link {
  color: #1f5dd1;
  text-decoration: underline;
}

.signin {
  margin: 0;
  padding: 0;
  border: none;
  font-size: small;
  text-decoration: underline;
  margin-left: 5px;
  color: rgb(98, 166, 255);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #99d7fc;
  box-shadow: 0 0 5px #99d7fc;
}

input:focus::placeholder {
  color: transparent;
}

label {
  margin-top: 15px;
  display: block;
}

form {
  font-family: "Roboto";
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-btn {
  background-color: #8d90a0;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.9s ease;
  margin-top: 0.75rem;
}

.form-btn:hover {
  background-color: #4d8bff;
  transform: scale(1.05);
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

textarea:focus {
  border-color: #99d7fc;
  box-shadow: 0 0 5px #99d7fc;
  outline: none;
}

.btn-1 {
  background-color: #2980b9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-1:hover {
  background-color: #3498db;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim the content behind the modal */
  z-index: 1000; /* Ensure the modal is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 35%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.allposts-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2.5rem;
}

small {
  color: #ca0b00;
  font-weight: bold;
}

img {
  height: 18rem;
  width: 100%;
  border-radius: 5px;
}

.popupError {
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  color: #db1111;
  background-color: #f0f0f0;
  text-transform: uppercase;
  position: fixed;
  font-weight: bold;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease; /* Add transitions */
  animation: slideAndFade 0.3s ease forwards; /* Add animation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

@keyframes slideAndFade {
  from {
    bottom: -100px; /* Start position below the viewport */
    opacity: 0;
  }
  to {
    bottom: 20px; /* Final position slightly above the bottom */
    opacity: 1;
  }
}
