@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
.btn {
  margin-right: 15px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

a:hover,
.btn:hover {
  background-color: antiquewhite;
}

.signin {
  margin: 0;
  padding: 0;
  border: none;
  font-size: small;
  text-decoration: underline;
  margin-left: 5px;
}

.signin:hover {
  background-color: white;
  color: blue;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

label {
  margin-top: 15px;
  display: block;
}

form {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #64748b;
  border-radius: 5px;
  padding: 10px;
}

.btn-1 {
  background-color: #2980b9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-1:hover {
  background-color: #3498db;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim the content behind the modal */
  z-index: 1000; /* Ensure the modal is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 35%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.allposts-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2.5rem;
}
