@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

a {
  margin-right: 15px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

a:hover {
  background-color: antiquewhite;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input:focus {
  outline: none;
}

label {
  margin-top: 15px;
  display: block;
  font-weight: 600;
}

form {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #64748b;
  border-radius: 10px;
  padding: 10px;
}
